input, textarea {
  appearance: none;
  width: 100%;
  border-radius: .5rem;

  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  color: var(--input-placeholder);

  padding: .75rem;
  font: var(--body-md);
}

label {
  display: block;
  margin-bottom: .5rem;
}