.principal {
  display: grid;
  grid-template-columns: 40% 60%;

  height: 100vh;
  overflow: hidden;
  background-color: var(--shape-background);
}

main {
  overflow: auto;
  margin: .5rem;

  & .main-container {
    max-width: 51.25rem;
    margin-right: auto;
    background-color: var(--shape-body);
    border-radius: 1rem;
    padding: 5rem;
  }

  h1 {
    font: var(--head-md);
    color: var(--text-head);
    margin-bottom: 2.25rem;
  }
}

aside {

  & .aside-container {
    background-image: url(../assets/Background.jpg);
    background-size: cover;
    padding: 2rem;
    width: 27rem;
    height: 50rem;
    margin-left: auto;
    margin-top: .5rem;
    border-radius: 1rem;
  }

  img {
    width: 2.875rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  h1 {
    font: var(--logo);
    color: #FF598B;
  }
  
  p {
    font: var(--body-md);
    color: #D9D9D9;
  }
}